/*

Layout global

Header

Sections

Footer

*/

/* == HERO == */

.hero {
    position: relative;
    min-height: 92vh;
    overflow: hidden;
}

.hero__container{
    width: min(1400px, 100% - 160px);
    min-height: 92vh;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    z-index: 2;
}

.hero__background {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero__content {
    max-width: 620px;
}

.hero__visual {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__scene {
    width: min(42vw, 600px);
    aspect-ratio: 1;
    border-radius: 50%;
    transform: translateX(18%);
}

.hero__glow {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 700px;
    aspect-ratio: 1;
    transform: translateY(-50%);
    border-radius: 50%;
    background: rgba(0, 255, 132, .08);
    filter: blur(160px);
}

.hero__gradient {
    position: absolute;
    inset: 0;
    background: radial-gradient(
        circle at top right,
        rgba(0,255,132,.08),
        transparent 60%
    );
}