/*

Tablet

Mobile

Desktop

*/

@media (max-width: 980px){

    .hero__container{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .hero__content{
        align-items: center;
    }

    .hero__scene{
        width: min(80vw, 420px);
    }

}